In [1]:
import pandas as pd
import os
import glob

In [40]:
df = pd.read_csv(r'f:\TUNEL\Measurement\Tunel_4.5Nsw.csv')

In [41]:
df.head()

             Image  Negative  Positive  Empty
0  Image_17060.tif      13.0      12.0    1.0
1  Image_17061.tif       5.0       0.0    1.0
2  Image_17062.tif       0.0       0.0    0.0
3  Image_17063.tif       8.0       0.0    0.0
4  Image_17064.tif       9.0       6.0    0.0

In [42]:
os.chdir(r'f:\TUNEL')
df['Sample'] = None
df['Group'] = None
for idx, row in df.iterrows():
    f = row['Image']
    f = glob.glob('./Wasi/*/'+f)[0]
    f = os.path.dirname(f)
    sample = f[7:12]
    group = sample[3]
    if group == 'L':
        group = 'Loaded'
    elif group == 'R':
        group = 'Nonloaded'
        
    df['Sample'][idx] = sample
    df['Group'][idx] = group

C:\Users\wangs\Documents\MLenv\simpleitk\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\wangs\Documents\MLenv\simpleitk\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [43]:
#df["Total"] = df['Neg'] + df['Pos']

dfag = df.groupby(['Sample', 'Group']).sum()

In [46]:
dfag['Sum'] = dfag['Positive'] + dfag['Negative'] + dfag['Empty']
dfag['Tunel_rate'] = dfag['Positive'] / (dfag['Positive'] + dfag['Negative'])
dfag['Dying_rate'] = dfag['Positive'] / (dfag['Positive'] + dfag['Negative'] + dfag['Empty'])
dfag

                  Negative  Positive  Empty    Sum  Tunel_rate  Dying_rate
Sample Group
418LT  Loaded        496.0     205.0    0.0  701.0    0.292439    0.292439
418RT  Nonloaded     172.0     179.0    7.0  358.0    0.509972    0.500000
419LT  Loaded        126.0       7.0    0.0  133.0    0.052632    0.052632
419RT  Nonloaded     138.0     110.0    0.0  248.0    0.443548    0.443548
424LT  Loaded        406.0     185.0    5.0  596.0    0.313029    0.310403
424RT  Nonloaded     275.0     118.0    3.0  396.0    0.300254    0.297980
427LT  Loaded        207.0      58.0    5.0  270.0    0.218868    0.214815
427RT  Nonloaded     369.0      19.0    3.0  391.0    0.048969    0.048593
441LT  Loaded        189.0     111.0    3.0  303.0    0.370000    0.366337
441RT  Nonloaded     249.0     138.0   21.0  408.0    0.356589    0.338235
447LT  Loaded        135.0      29.0    2.0  166.0    0.176829    0.174699
451LT  Loaded        121.0      53.0    0.0  174.0    0.304598    0.304598
451RT  Nonloaded     416.0     119.0    3.0  538.0    0.222430    0.221190

In [45]:
dfag.groupby('Group').mean()

,Negative,Positive,Empty,Sum,Tunel_rate,Dying_rate
Group,,,,,,
Loaded,240.000000,92.571429,2.142857,334.714286,0.246914,0.245132
Nonloaded,269.833333,113.833333,6.166667,389.833333,0.313627,0.308258

In [6]:
df['Positive Rate'] = df['Pos'] / df['Total']

In [7]:
df.head()

  Unnamed: 0  Neg  Pos  Total  Positive Rate
0      417LT   42    0     42       0.000000
1      417LT   22    0     22       0.000000
2      417LT   33    0     33       0.000000
3      417LT   36    1     37       0.027027
4      417LT   28    6     34       0.176471

In [14]:
df.groupby('Unnamed: 0').mean()

                  Neg       Pos      Total  Positive Rate
Unnamed: 0
417LT       31.000000  1.500000  32.500000       0.043706
418LT       30.285714  5.000000  35.285714       0.143055
419LT       36.111111  5.333333  41.444444       0.129964
447LT       25.100000  5.400000  30.500000       0.177393
447RT       34.833333  3.333333  38.166667       0.079083
451LT       44.900000  4.100000  49.000000       0.082877
451RT       22.200000  5.800000  28.000000       0.215157

In [15]:
df2 = df.groupby('Unnamed: 0').sum()

In [16]:
df2.columns

Index(['Neg', 'Pos', 'Total', 'Positive Rate'], dtype='object')

In [17]:
df.columns

Index(['Unnamed: 0', 'Neg', 'Pos', 'Total', 'Positive Rate'], dtype='object')

In [18]:
df2.head()

            Neg  Pos  Total  Positive Rate
Unnamed: 0
417LT       310   15    325       0.437061
418LT       424   70    494       2.002776
419LT       325   48    373       1.169674
447LT       251   54    305       1.773928
447RT       209   20    229       0.474497

In [19]:
df2['Positive Rate'] = df2['Pos'] / df2['Total']

In [20]:
df2

            Neg  Pos  Total  Positive Rate
Unnamed: 0
417LT       310   15    325       0.046154
418LT       424   70    494       0.141700
419LT       325   48    373       0.128686
447LT       251   54    305       0.177049
447RT       209   20    229       0.087336
451LT       449   41    490       0.083673
451RT       111   29    140       0.207143

In [21]:
df2.to_csv(r'C:\Users\wangs\Google Drive\4th batch bone mets 4.5 N statistical analysis and plotting\4.5N HIF stats.csv')

In [1]:
import pandas as pd
import os
import glob

In [2]:
df = pd.read_csv(r'F:\Measurement-Endomucin\Endomucin_Results.csv')

In [3]:
imgls = df['# ID'].values

In [4]:
os.chdir(r'E:\DATA\4.5N\Endomucin')

In [6]:
s= []
g =[]
for img in imgls:
    p = glob.glob(r'./*slice*/'+img+'.tif')
    p = p[0]
    p = os.path.dirname(p)
    fn = p[2:]
    sample = fn[:5]
    group = 'Loaded' if sample[4] == 'L' else 'Nonloaded'
    s.append(sample)
    g.append(group)

In [9]:
df['Sample'] = s
df['Loading'] = g

In [10]:
df.head()

          # ID     DAB  Hemotaxylin  Background  DAB_ratio Sample    Loading
0  Image_16462  158720       363515      870405   0.303924  424RT  Nonloaded
1  Image_16463  127544       327242      937854   0.280448  424RT  Nonloaded
2  Image_16464  145644       359062      887934   0.288572  424RT  Nonloaded
3  Image_16465  146586       331641      914413   0.306520  424RT  Nonloaded
4  Image_16470  115888       292804      983948   0.283558  424LT  Nonloaded

In [12]:
df2 = df.groupby('Sample').mean()

In [14]:
df2.to_csv(r'C:\Users\wangs\Google Drive\4th batch bone mets 4.5 N statistical analysis and plotting\4.5N Endomucin stats.csv')
df.to_csv(r'C:\Users\wangs\Google Drive\4th batch bone mets 4.5 N statistical analysis and plotting\4.5N Endomucin.csv')